vite.config.js
.eslintrc.js
resources/js/app.js
resources/js/custom.js
resources/js/bootstrap.min.js
resources/js/bootstrap.js
/node_modules
/public
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
