<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
server {
    location /spark/webhook {
        Order allow,deny
        Allow from 3.18.12.63
        Allow from 3.130.192.231
        Allow from 13.235.14.237
        Allow from 13.235.122.149
        Allow from 18.211.135.69
        Allow from 35.154.171.200
        Allow from 52.15.183.38
        Allow from 54.88.130.119
        Allow from 54.88.130.237
        Allow from 54.187.174.169
        Allow from 54.187.205.235
        Allow from 54.187.216.72
        satisfy any
    }
}